<launch>
	<param name="robot_description" command="cat $(find state_publisher)/urdf/eros.xml" />

	<param name="use_gui" value="true" />

	<param name="/field_type" value="bonn" />

	<include file ="$(find launch)/config/server.launch" />

	<node name="robotcontrol" pkg="robotcontrol" type="robotcontrol" output="screen" required="true">
<rosparam>
hw_interface: "robotcontrol::DummyInterface"
motion_modules:
- "motionplayer::MotionPlayer"
</rosparam>
	</node>



	<node pkg="nodelet" type="nodelet" name="vision"  args="manager" output="screen" respawn="true" />

	<node pkg="nodelet" type="nodelet" name="cam" args="load CameraV4L2 vision" output="screen">
		<param name="configFile" value="$(find camera_v4l2)/launch/cam_settings.yaml" />
		<rosparam command="load" file="$(find camera_v4l2)/launch/cam_params.yaml" />
  	</node>

	<!--node pkg="nodelet" type="nodelet" name="downscale" args="load downscale::Downscale vision" output="screen" respawn="true" >
		<remap from="/downscale/in" to="/image" />
		<remap from="/downscale/out" to="/image_downscaled" />
		<param name="frequency" value="4.0" />
	</node-->

	<node pkg="nodelet" type="nodelet" name="soccer_vision_stream" args="load SoccerVision vision" output="screen">
		<param name="use_gui" value="true" />
	</node>

	<node pkg="soccer_vision" type="soccercv_gui" name="soccer_gui" output="screen" respawn="true"/>
</launch>
