<launch>
	<arg name="launch_param" default="true" />
    	<param name="/use_sim_time" value="false" />

	<rosparam command="load" file="/home/eros/param/intelligent_parameters.yaml" />

	<!-- ********** ROBOT MODEL ********** -->
	<arg name="robot_name" default="xs0" />
    	<arg name="robot_type" default="P1" />
    	<arg name="robot_variant" default="eros_hull" />

    	<param name="robot_name" value="$(arg robot_name)" type="str" />
    	<param name="robot_type" value="$(arg robot_type)" type="str" />
   
    	<rosparam param="robots">[xs1, xs2, xs3, xs4, xs5, xs6, xs7, xs8, xs9]</rosparam>
    
    	<include file="$(find nimbro_op_model)/launch/model.launch">
    		<arg name="robot_variant" value="$(arg robot_variant)" />
    	</include>

	<!-- ********** CONFIG SERVER ********** -->
	<include file="$(find launch)/config/config_server.launch" if="true" />

	<!-- ********** ROBOT CONTROL ********** -->
	<node name="robotcontrol" pkg="robotcontrol" type="robotcontrol" output="screen" required="true">
        <rosparam>
            hw_interface: "nimbro_op_interface::ErosInterface"
            motion_modules: 
              - "gait::Gait (cap_gait::CapGait)"
              - "headcontrol::HeadControl"
            default_effort: 0.7
        </rosparam>
    	</node>

	<!-- ********** STATE PUBLISHER **********
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" required="true">
		<param name="use_gui" value="false" />
	</node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" required="true"/>
	<node name="state_publisher" pkg="state_publisher" type="state_publisher" output="screen" required="true"/>
	-->

	<!-- ********** VISION MODULE ********** 
	<node pkg="nodelet" type="nodelet" name="vision"  args="manager" respawn="true" />
	<node pkg="nodelet" type="nodelet" name="cam" args="load CameraV4L2 vision">
		<param name="device" value="/dev/video0" />
		<param name="width" value="424" />
		<param name="height" value="240" />
		<param name="pixel_format" value="yuyv" />
		<param name="configFile" value="$(find camera_v4l2)/launch/cam_settings.yaml" />
		<rosparam command="load" file="$(find camera_v4l2)/launch/cam_params.yaml" />
  	</node>
	<node pkg="nodelet" type="nodelet" name="soccer_vision_stream" args="load SoccerVision vision"/>
	-->

	<node pkg="vision_module" name="vision_module_node" type="vision_module_node" output="screen" args="" respawn="false">
			<!--param name="cameraDev" value="/dev/eyeRight" /-->
			<param name="cameraDev" value="/dev/video0" />
			<param name="config_server/wait_duration" value="-1" />
	</node>
	<node pkg="vision_module" name="watch_vision_node" type="watch_vision.py" output="screen" args="" respawn="false"/>	

	<!-- ********** EROS ********** -->
	<node name="intelligent" pkg="eros" type="intelligent" output="screen"/>
	<node name="serialcom" pkg="eros" type="serialcom"/>
	<node name="referee" pkg="eros" type="referee"/>
	<node name="refsend" pkg="eros" type="refsend"/>
	<node name="clientrec" pkg="eros" type="clientrec"/>
</launch>
