<launch>
	<node pkg="nodelet" type="nodelet" name="cam" args="standalone CameraV4L2" output="screen">
		<param name="device" value="/dev/video0" />
		<param name="width" value="424" />
		<param name="height" value="240" />
		<param name="pixel_format" value="yuyv" />
		<param name="configFile" value="$(find camera_v4l2)/launch/cam_settings.yaml" />
		<rosparam command="load" file="$(find camera_v4l2)/launch/cam_params.yaml" />
  	</node>

	<node pkg="nodelet_gui_manager" type="nodelet_gui_manager" name="classificator_nodelet" output="screen"/>
	<node pkg="nodelet" type="nodelet" name="classificator" args="load Classificator classificator_nodelet" output="screen"/>

	<node pkg="nodelet_gui_manager" type="nodelet_gui_manager" name="calibration_nodelet" output="screen" required="true"/>
	<node pkg="nodelet" type="nodelet" name="Calibration" args="load CalibrationNodelet calibration_nodelet" output="screen" required="true"/>
</launch>
