<launch>
	<node pkg="nodelet_gui_manager" type="nodelet_gui_manager" name="classificator_nodelet" output="screen"/>
	<node pkg="nodelet" type="nodelet" name="CameraEROS" args="load usb_cam::UsbCamNodelet classificator_nodelet" output="screen">
		<param name="video_device" value="/dev/video0" />
    		<param name="image_width" value="640" />
    		<param name="image_height" value="480" />
    		<param name="pixel_format" value="yuyv" />
    		<param name="camera_frame_id" value="usb_cam" />
    		<param name="io_method" value="mmap"/>
		<remap from="/CameraEROS/image_raw" to="/image"/>
	</node>
	<node pkg="nodelet" type="nodelet" name="classificator" args="load Classificator classificator_nodelet" output="screen"/>

	<node pkg="nodelet_gui_manager" type="nodelet_gui_manager" name="calibration_nodelet" output="screen" required="true"/>
	<node pkg="nodelet" type="nodelet" name="Calibration" args="load CalibrationNodelet calibration_nodelet" output="screen" required="true"/>
</launch>
